<div class="transaction-table-wrapper">
  <div id="delete-transaction-modal" class="ui basic modal">
    <div class="header">
      Delete Transaction
    </div>
    <div class="image content">
      <div class="description">
        <p>Are you sure you want to delete this transaction?</p>
        <table class="transaction-table ui single line celled table">
          <thead transaction-headers show-delete="false"></thead>
          <tr transaction-row data="transactionToDelete" show-delete="false">
        </table>
      </div>
    </div>
    <div class="actions">
      <div class="ui cancel red basic inverted button" ng-click="resetDelete()">
        <i class="fa fa-times" aria-hidden="true"></i>
        No
      </div>
      <div class="ui ok green basic inverted button" ng-click="deleteTransaction()">
        <i class="fa fa-check" aria-hidden="true"></i>
        Yes
      </div>
    </div>
  </div>

  <!-- FILTERING///////////////////////////////////////////////////////////////-->
  <div class="filter-row">
    <select name="userFilter" ng-model="userFilter" class="ui dropdown" id="userFilter" ng-change="updateFilter()" >
      <option value="">All</option>
      <option ng-repeat="user in allUsers" value="{{user}}">{{user}}
      </option>
    </select>

    <select name="categoryFilter" ng-model="categoryFilter" class="ui dropdown" ng-change="updateFilter()"
        id="categoryFilter" placeholder="Category">
      <option value="">All</option>
      <option ng-repeat="category in allCategories" value="{{category}}">{{category}}
      </option>
    </select>
    <select name="monthFilter" ng-model="monthFilter" class="ui dropdown" id="monthFilter" ng-change="updateFilter()"
        placeholder="Month">
      <option value="">All</option>
      <option ng-repeat="month in allMonths" value="{{month}}">{{month}}
      </option>
    </select>
    <select name="yearFilter" ng-model="yearFilter" class="ui dropdown" id="yearFilter" ng-change="updateFilter()"
        placeholder="Year">
      <option value="">All</option>
      <option ng-repeat="year in allYears" value="{{year}}">{{year}}
      </option>
    </select>
  </div>

  <!-- TRANSACTIONS////////////////////////////////////////////////////////////-->
  <table class="transaction-table ui single line celled table">
    <thead transaction-headers show-delete="true"></thead>
    <tr class="input-row">
      <td>
        <div class="ui input">
          <input class="year-input" type="text" ng-keypress="inputKeypress($event)" ng-model="newTransaction.year">
          <input class="month-input" type="text" ng-keypress="inputKeypress($event)" ng-model="newTransaction.month">
          <input class="day-input" type="text" ng-keypress="inputKeypress($event)" ng-model="newTransaction.day">
        </div>
      </td>
      <td>
        <div class="ui form">
          <div class="grouped fields">
            <div class="field" ng-repeat="user in allUsers">
              <div class="ui checkbox">
                <input type="checkbox" ng-model="newTransaction.usersInput[user]" name="{{user}}" value="{{user}}">
                <label>{{user}}</label>
              </div>
            </div>
          </div>
        </div>
      </td>

      <td>
        <div class="ui input">
          <input type="text" ng-keypress="inputKeypress($event)" ng-model="newTransaction.description">
        </div>
      </td>
      <td>
        <div class="ui input">
          <input class="amount-input" type="number" ng-keypress="inputKeypress($event)" ng-model="newTransaction.amount">
        </div>
      </td>
      <td>
        <div class="ui input">
          <input type="text" ng-keypress="inputKeypress($event)" ng-model="newTransaction.categories">

        </div>
      </td>
      <td><button ng-click="addTransaction()" class="add-button positive ui button">+</button></td>
    </tr> <!-- input row -->

    <tr transaction-row ng-repeat="transaction in transactionArray | orderBy:'-date'" ng-if="shouldShowTransaction(transaction)" data="transaction" show-delete="true" delete-confirmation="deleteConfirmation(transaction.$id)">

  </table>
</div>