<div class="transaction-table-wrapper">
  <div id="delete-transaction-modal" class="ui basic modal">
    <div class="header">
      Delete Transaction
    </div>
    <div class="image content">
      <div class="description">
        <p>Are you sure you want to delete this transaction?</p>
        <table class="transaction-table ui single line celled table">
          <thead><tr>
            <th>Date</th>
            <th>Shared</th>
            <th>Paid by</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Category</th>
            <th></th>
          </tr></thead>
          <tr>
            <td>{{renderDate(transactionToDelete.date)}}</td>

            <td class="text-center">
              <div class="shared" ng-show="!transactionToDelete.shared"><i class="fa fa-times" aria-hidden="true"></i></div>
            </td>

            <td class="text-center">
              <div class="tag tian-tag" ng-show="transactionToDelete.user=='tian'">Tian</div>
              <div class="tag joe-tag" ng-show="transactionToDelete.user=='joe'">Joe</div>
            </td>

            <td>{{transactionToDelete.description}}</td>
            <td>${{transactionToDelete.amount}}</td>

            <td><span class="tag category-tag" ng-repeat="category in transactionToDelete.categories | orderBy: 'category'">{{category}}</span></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="actions">
      <div class="ui cancel red basic inverted button" ng-click="resetDelete()">
        <i class="fa fa-times" aria-hidden="true"></i>
        No
      </div>
      <div class="ui ok green basic inverted button" ng-click="deleteTransaction()">
        <i class="fa fa-check" aria-hidden="true"></i>
        Yes
      </div>
    </div>
  </div>

<!-- FILTERING///////////////////////////////////////////////////////////////-->
<div class="filter-row">
  <select name="userFilter" ng-model="userFilter" class="ui dropdown" id="userFilter" ng-change="updateFilter()" >
    <option value="">All</option>
    <option value="tian">Tian</option>
    <option value="joe">Joe</option>
  </select>

  <select name="categoryFilter" ng-model="categoryFilter" class="ui dropdown" ng-change="updateFilter()"
      id="categoryFilter" placeholder="Category">
    <option ng-repeat="category in allCategories" value="{{category}}">{{category}}
    </option>
  </select>
  <select name="monthFilter" ng-model="monthFilter" class="ui dropdown" id="monthFilter" ng-change="updateFilter()"
      placeholder="Month">
    <option ng-repeat="month in allMonths" value="{{month}}">{{month}}
    </option>
  </select>
  <select name="yearFilter" ng-model="yearFilter" class="ui dropdown" id="yearFilter" ng-change="updateFilter()"
      placeholder="Year">
    <option ng-repeat="year in allYears" value="{{year}}">{{year}}
    </option>
  </select>
</div>

<!-- TRANSACTIONS////////////////////////////////////////////////////////////-->


  <table class="transaction-table ui single line celled table">
    <thead><tr>
      <th>Date</th>
      <th>Shared</th>
      <th>Paid by</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Category</th>
      <th></th>
    </tr></thead>
    <tr class="input-row">
      <td>
        <div class="ui input">
          <input class="year-input" type="text" ng-keypress="inputKeypress($event)" ng-model="newTransaction.year">
          <input class="month-input" type="text" ng-keypress="inputKeypress($event)" ng-model="newTransaction.month">
          <input class="day-input" type="text" ng-keypress="inputKeypress($event)" ng-model="newTransaction.day">
        </div>
      </td>
      <!-- Shared input -->
      <td class="text-center">
        <!-- <div class="ui checkbox">
          <input type="checkbox" name="shared" ng-model="newTransaction.shared">
          <label></label>
        </div> -->
        <div class="ui form">
          <div class="grouped fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" ng-model="newTransaction.isfor" name="isfor" value="self">
                <label>Self</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" ng-model="newTransaction.isfor" name="isfor" value="shared">
                <label>Shared</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" ng-model="newTransaction.isfor" name="isfor" value="other">
                <label>Other</label>
              </div>
            </div>
          </div>
        </div>
      </td>
      <!-- Paid by input -->
      <td>
        <div class="ui form">
          <div class="grouped fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" ng-model="newTransaction.user" name="user" value="joe">
                <label>Joe</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" ng-model="newTransaction.user" name="user" value="tian">
                <label>Tian</label>
              </div>
            </div>
          </div>
        </div>
      </td>

      <td>
        <div class="ui input">
          <input type="text" ng-keypress="inputKeypress($event)" ng-model="newTransaction.description">
        </div>
      </td>
      <td>
        <div class="ui input">
          <input class="amount-input" type="number" ng-keypress="inputKeypress($event)" ng-model="newTransaction.amount">
        </div>
      </td>
      <td>
        <div class="ui input">
          <input type="text" ng-keypress="inputKeypress($event)" ng-model="newTransaction.categories">

        </div>
      </td>
      <td><button ng-click="addTransaction()" class="add-button positive ui button">+</button></td>
    </tr> <!-- input row -->

    <tr ng-repeat="transaction in transactionArray | orderBy:'-date'" ng-if="shouldShowTransaction(transaction)">
      <td>{{renderDate(transaction.date)}}</td>

      <!-- Shared -->
      <td class="text-center">
        <div class="tag self-tag" ng-show="{{transaction.isfor=='self'}}">Self</div>
        <div class="tag shared-tag" ng-show="{{transaction.isfor=='shared'}}">Shared</div>
        <div class="tag other-tag" ng-show="{{transaction.isfor=='other'}}">Other</div>
        <!-- <div class="shared" ng-show="{{!transaction.shared}}"><i class="fa fa-times" aria-hidden="true"></i></div> -->
      </td>

      <!-- Paid by -->
      <td class="text-center">
        <div class="tag tian-tag" ng-show="{{transaction.user=='tian'}}"
            ng-click="setUserFilter('tian')">Tian</div>
        <div class="tag joe-tag" ng-show="{{transaction.user=='joe'}}"
            ng-click="setUserFilter('joe')">Joe</div>
      </td>

      <td>{{transaction.description}}</td>
      <td><pre>{{padAmount(transaction.amount)}}</pre></td>

      <!-- Category -->
      <td><span class="tag category-tag" ng-repeat="category in transaction.categories | orderBy: 'category'">{{category}}</span></td>
      <td>
        <button class="ui basic button delete-button" ng-click="deleteConfirmation(transaction.$id)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </table>
</div>