<div class="piggy">

  <div id="pig-wrapper"><img src="pig.png"></div>
  <div>
    <h1>Combined</h1>
    <div class="row">
      <div class="col">
        <canvas id="combined-month" class="chart chart-doughnut"
          chart-data="combinedMonthData" chart-labels="combinedMonthLabels">
        </canvas>
          <h2>{{currentMonth}}</h2>
          Total: {{combinedMonthTotal.toFixed(2)}}
      </div>
      <div class="col">
        <canvas id="combined-year" class="chart chart-doughnut"
          chart-data="combinedYearData" chart-labels="combinedYearLabels">
        </canvas>
          <h2>Year</h2>
          Total: {{combinedYearTotal.toFixed(2)}}
      </div>
    </div>

    <h1>Tian</h1>
    <div class="row">
      <div class="col">
        <canvas id="tian-month" class="chart chart-doughnut"
          chart-data="tianMonthData" chart-labels="tianMonthLabels">
        </canvas>
          <h2>{{currentMonth}}</h2>
          Total: {{tianMonthTotal.toFixed(2)}}
      </div>
      <div class="col">
        <canvas id="tian-year" class="chart chart-doughnut"
          chart-data="tianYearData" chart-labels="tianYearLabels">
        </canvas>
          <h2>Year</h2>
          Total: {{tianYearTotal.toFixed(2)}}
      </div>
    </div>

    <h1>Joe</h1>
    <div class="row">
      <div class="col">
        <canvas id="joe-month" class="chart chart-doughnut"
          chart-data="joeMonthData" chart-labels="joeMonthLabels">
        </canvas>
          <h2>{{currentMonth}}</h2>
          Total: {{joeMonthTotal.toFixed(2)}}
      </div>
      <div class="col">
        <canvas id="joe-year" class="chart chart-doughnut"
          chart-data="joeYearData" chart-labels="joeYearLabels">
        </canvas>
          <h2>Year</h2>
          Total: {{joeYearTotal.toFixed(2)}}
      </div>
    </div>
    <!-- <h1>{{currentBudgetMonth}}</h1>
    <h2>Combined:</h2>
    <div ng-repeat="(category, amounts) in currentBudget.all">
      <div class="ui progress all-progress" id="all-{{category}}-progress">
        <div class="bar"><div class="progress"></div></div>
        <div class="label">{{category}}: ${{amounts[2]}} of ${{amounts[0]}}</div>
      </div>
    </div>
    <h2>Tian:</h2>
    <div ng-repeat="(category, amounts) in currentBudget.tian">
      <div class="ui progress tian-progress" id="tian-{{category}}-progress">
        <div class="bar"><div class="progress"></div></div>
        <div class="label">{{category}}: ${{amounts[2]}} of ${{amounts[0]}}</div>
      </div>
    </div>
    <h2>Joe:</h2>
    <div ng-repeat="(category, amounts) in currentBudget.joe">
      <div class="ui progress joe-progress" id="joe-{{category}}-progress">
        <div class="bar"><div class="progress"></div></div>
        <div class="label">{{category}}: ${{amounts[2]}} of ${{amounts[0]}}</div>
      </div>
    </div>
  </div>
  <div>
    This Month: {{paidText}}
  </div>
  <div>
    Overall: {{paidTextTotal}}
  </div>
  <div>
    {{currentBudget}}
  </div>
  <div>
    {{monthTotals}}
  </div>
  <div>
    <table>
      <tr>
        <th>Category</th>
        <th></th>
        <th>Amount</th>
      </tr>
      <tbody ng-repeat="(user, totals) in aggregates[0]">
        <tr>
          <td>{{user}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-repeat="(category, amount) in totals">
          <td>{{category}}</td>
          <td>
            <div class="amount-bar" ng-style="{width: amount/10 + 'px'}"></div>
          </td>
          <td>{{amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div ng-repeat="(user, totals) in aggregates[0]">
      <div class="totals-user"><h2>{{user}}:</h2></div>
      <div ng-repeat="(category, amount) in totals" ng-if="category != 'Balance'">
        <div class="amount-bar" ng-style="{width: amount*100/maxAmount + '%'}"></div>
        <div class="amount-label">{{category}}: ${{amount}}</div>
      </div>
    </div> -->
  </div>
</div>