@import "variables.less";

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FFFFFF;
  height: 100%;
  font-family: 'Merriweather Sans', sans-serif;

  h1 {
    font-family: 'Yeseva One', serif;
  }

  .top-bar {
    height: 10px;
    width: 100%;
    background-color: @platinum;
  }

  .view {
    position: absolute;
    left: @navWidth;
    padding: 50px;
  }
}