@import "variables.less";

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FFFFFF;
  height: 100%;
  font-family: 'Merriweather Sans', sans-serif;
  overflow-x: scroll;

    h1 {
      font-family: 'Yeseva One', serif;
    }

    .top-bar {
      height: 10px;
      width: 100%;
      background-color: @platinum;
    }

  .container {
    display: flex;


    .view-wrapper {
      padding: 50px;
      flex: 1;
      min-height: 100%;
    }

    .piggy-wrapper {
      flex: 0 0 12em;
      border: 1px solid @platinum;
    }

    .nav-wrapper {
      order: -1;
      flex: 0 0 12em;
      background-color: @gunmetal;
    }
  }

  .text-center {
    text-align: center !important;
  }
}