@import "variables.less";

.nav {
  padding-top: 100px;
  
  .login {
    margin-top: 300px;
    padding: 0px 30px;

    .input.email,
    .input.password {
      width: 100%;
      padding: 10px 0px;
    }

    .add-button {
      margin-top: 10px;
      float: right;
    }
  }


  .nav-link {
    width: 100%;
    text-align: right;
    color: white;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-link:hover {
    cursor: pointer;
  }

  .nav-link-0:hover {
    background-color: @gradient0;
  }

  .nav-link-1:hover {
    background-color: @gradient1;
  }

  .nav-link-2:hover {
    background-color: @gradient2;
  }

  .nav-link-3:hover {
    background-color: @gradient3;
  }

  .nav-link-4:hover {
    background-color: @gradient4;
  }
}