@import "variables.less";

.piggy {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  #pig-wrapper {
    width: 100%;
    text-align: center;
    padding: 20px;
    img {
      width: 80px;
      height: auto;
    }
  }

  .row {
    display: flex;

    .col {
      margin: 10px;
    }
    .chart {
      width: 120px;
      height: 120px;
    }
  }


}