  #button-row {
    padding-right: 20px;
    padding-left: 20px;
    text-align: right;
    width: 100%;
  }

.transaction-table {

  .input-row {
    padding: 5px;

    .add-button {
      margin: 5px;
    }

    .year-input {
      width: 55px;
      margin-right: 2px;
    }

    .month-input {
      width: 40px;
      margin-right: 2px;
    }

    .day-input {
      width: 40px; 
    }

    input {
      padding: 8px;
    }
  }
}